@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #090101;
    --background: #F5F7F9;
    --primary: #000000;
    --accent: var(--ghost-accent-color);
    --border: #DFE3E9;
  }
  .dark {
    --text: #fef6f6;
    --background: #040101;
    --primary: #ffffff;
    --accent: var(--ghost-accent-color);
    --border: #1a1a1a;
  }
}

body, html {
  font-family: 'Inter', sans-serif;
  color: var(--text);
  background-color: var(--background);
}

.kg-width-wide {
  width: 100%;
}

.kg-width-full {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

form {
  .loading, .success, .error  {
    @apply mt-4;
    display: none;
  }
  
  &.loading .loading, &.success .success, &.error .error {
    display: block;
  }
}

.prose pre {
  padding: 1.5rem;

  &:has(> code.hljs) {
    padding: 0;
  }

  code.hljs {
    padding: 1.5rem !important;
  }
}