<ul class="flex gap-4">
  {{#foreach navigation}}
    <li class="{{#if current}}underline{{/if}}">
      <a href="{{url absolute="true"}}" class="text-nowrap font-semibold text-sm">{{label}}</a>
    </li>
  {{/foreach}}
</ul>