<nav class="flex justify-between mt-8" role="navigation">
  <div class="flex-1">
    {{#if prev}}
      <a class="newer-posts" href="{{page_url prev}}">&larr; Lebih baru</a>
    {{/if}}
  </div>
  <span class="page-number">{{page}} dari {{pages}}</span>
  <div class="flex-1">
    {{#if next}}
      <a class="older-posts float-end" href="{{page_url next}}">Lebih lawas &rarr;</a>
    {{/if}}
  </div>
</nav>
