{{!< default}}
<div class="lg:flex gap-8">
  <div>
    <div class="flex flex-col gap-6">
      {{#foreach posts}}
        {{> components/post-card}}
      {{/foreach}}
    </div>

    {{pagination}}
  </div>
  <aside class="mt-8 lg:mt-0 min-w-80">
    {{#get "posts" filter="featured:true" limit="all" as | featured|}}
      {{#if featured}}
        <section>
          <h2 class="text-xs font-semibold uppercase mb-4">Artikel Unggulan</h2>
          <div class="flex flex-col gap-2">
            {{#foreach featured}}
              {{> components/post-strip}}
            {{/foreach}}
          </div>
        </section>
      {{/if}}
    {{/get}}
  </aside>
</div>